@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0);
    -moz-transform   : rotateY(0);
    -o-transform     : rotateY(0);
    -ms-transform    : rotateY(0);
    transform        : rotateY(0);
  }

  30% {
    -webkit-transform: rotateY(-360deg);
    -moz-transform   : rotateY(-360deg);
    -o-transform     : rotateY(-360deg);
    -ms-transform    : rotateY(-360deg);
    transform        : rotateY(-360deg);
  }

  50% {
    -webkit-transform: rotateY(-360deg);
    -moz-transform   : rotateY(-360deg);
    -o-transform     : rotateY(-360deg);
    -ms-transform    : rotateY(-360deg);
    transform        : rotateY(-360deg);
  }

  80% {
    -webkit-transform: rotateY(0);
    -moz-transform   : rotateY(0);
    -o-transform     : rotateY(0);
    -ms-transform    : rotateY(0);
    transform        : rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(0);
    -moz-transform   : rotateY(0);
    -o-transform     : rotateY(0);
    -ms-transform    : rotateY(0);
    transform        : rotateY(0);
  }
}
@keyframes ani-demo-spin {
  from {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header {
  height: auto;
}

.layout {
  border       : 1px solid #d7dde4;
  background   : #f5f7f9;
  position     : relative;
  border-radius: 4px;
  overflow     : hidden;
}

.layout-logo {
  width            : 50px;
  height           : 50px;
  background-image : url("../assets/logo.png");
  background-repeat: no-repeat;
  background-size  : cover;
  border-radius    : 3px;
  float            : left;
  position         : relative;
  top              : 5px;
  left             : 5px;
  -webkit-animation: rotate 8s infinite linear;
  -moz-animation   : rotate 8s infinite linear;
  -o-animation     : rotate 8s infinite linear;
  -ms-animation    : rotate 8s infinite linear;
  transition       : rotate 8s infinite linear;
  cursor           : pointer;
}

.layout-title {
  float      : left;
  position   : relative;
  width      : auto;
  height     : auto;
  color      : white;
  left       : 30px;
  font-weight: bold;
  font-size  : 18px;
  font-family: 'Microsoft Yahei';
  cursor     : pointer;
}

.layout-nav {
  width : auto;
  margin: 0;
  float : right;
}

.icon-item {
  width     : 18px;
  text-align: center;
  margin    : auto auto auto 0;
}

.icon-spin {
  animation: ani-demo-spin 1s linear infinite;
}

.menu-item {
  text-align : center;
  display    : flex;
  align-items: center;
}

.spin {
  z-index: 10;
}